* {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}
.container-layout {
  background-color: rgb(152, 187, 189);
  padding-bottom: 2em;
  align-items: center;
}

.jumbotron {
  background-color: #464142ef !important;
  font-weight: 400;
  color: white;
}

.link {
  color: rgb(41, 170, 177);
}
.nav {
  color: #1a1919ef;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card-columns {
  align-items: center;
  max-width: 200px;
  margin-left: 0%;
  width: '18rem';
}
