* {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}
.container {
  background-color: rgb(152, 187, 189);
}

.jumbotron {
  background-color: #464142ef !important;
  font-weight: 300;
  color: white;
}

.link {
  color: rgb(41, 170, 177);
}
.nav {
  color: #464142ef;
}
